// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.budget {
  float:left;  
  font-weight: bold;
}

.time {
  float:left;
}

.meta, div{
  margin-right: 10px;
}